<%= form_for @word, local: true, id: "edit_word_form" do |f| %>
  <div>
    <p>しりとり画像</p>
    <div id="previews"></div>
    <%= f.file_field :image, id: "word-image", required: !@word.persisted? %>
  </div>

  <div class="field">
    <%= f.label :name, "単語" %><br />
    <%= f.text_area :name, class: :form_text %>
  </div>

  <div>
    <p>単語音声</p>
    <%= f.file_field :name_audio %>
  </div>

  <div class="field">
    <%= f.label :back_name1, "裏読み１" %><br />
    <%= f.text_area :back_name1, class: :form_text %>
  </div>

  <div>
    <p>裏読み１音声</p>
    <%= f.file_field :back_name1_audio %>
  </div>

  <div class="field">
    <%= f.label :back_name2, "裏読み２" %><br />
    <%= f.text_area :back_name2, class: :form_text %>
  </div>

  <div>
    <p>裏読み２音声</p>
    <%= f.file_field :back_name2_audio %>
  </div>

  <div class="field">
    <%= f.label :back_name3, "裏読み３" %><br />
    <%= f.text_area :back_name3, class: :form_text %>
  </div>

  <div>
    <p>裏読み３音声</p>
    <%= f.file_field :back_name3_audio %>
  </div>

  <div class="actions">
    <%= f.submit "登録する", class: :form_btn  %>
  </div>

<% end %>

